nginx:
    ingress:
        enabled: true
        hostname: reports.{{ .Values.jxRequirements.ingress.domain | default "cluster.local" }}
{{/*        TODO: add default https if so enabled */}}
        extraTls: [ ]

reports:
    ingress:
        hostname: reports.{{ .Values.jxRequirements.ingress.domain | default "cluster.local" }}
